@font-face {
    font-family: machina;
    src: url(/fonts/3856NeueMachina.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: "Roboto Flex", sans-serif;
    color: #000000;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: #DA22FF;
    background: -webkit-linear-gradient(to right, #9733EE, #DA22FF);
    background: linear-gradient(to right, #9733EE, #DA22FF);
    overflow-x: hidden;
}


#cursor {
    height: 15px;
    width: 15px;
    background-color: #111;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 1000;
    color: #00000012;
}

.page {
    height: 100vh;
    width: 100%;
}

#page1 {
    position: relative;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
}

#nav h2 {
    font-size: 40px;
}

#nav h2 i {
    position: relative;
    font-size: 25px;
    top: -2px;
    left: 2px;
}

#part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#part2 h4 {
    font-size: 20px;
}

#part2 button i {
    color: #cdc7c7;
    margin-left: 6px;
}

#nav:hover {
    cursor: pointer;
}

#part2 button {
    padding: 14px 30px;
    font-size: 18px;
    border-radius: 10px;
    background-color: #111;
    color: #cdc7c7;
    border: none;
    font-weight: 600;
}

.center {
    /* background-color: red; */
    padding: 40px 80px;
    height: 70%;
    width: 100%;
    display: flex;
}

.center-part1 {
    height: 70%;
    width: 45%;
}

.center-part1 h1 {
    line-height: 1.2;
    font-size: 60px;
    font-family: machina;
}

.center-part1 p {
    font-size: 20px;
    width: 95%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: justify;
}

.center-part1 button {
    background-color: black;
    color: #cdc7c7;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
}

.center-part2 {
    position: relative;
    height: 100%;
    width: 55%;
}

.center-part2 img {
    position: absolute;
    right: 0;
    height: 100%;
}

.page1bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 90px;
}

.page1bottom img {
    height: 60px;
}

#page2 h2 {
    font-size: 30vw;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap
}

#string {
    /* background-color: #fff; */
    height: 200px;
    width: 100%;
}

svg {
    overflow: visible;
}

#move {
    background-color: #b9fe67;
    display: flex;
    padding: 3vw 0;
}

.marque {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 3vw;
    padding: 0 1.5vw;
    transform: translateX(-100%);
}

.marque h5 {
    font-family: machina;
    font-size: 70px;
}

.marque img {
    height: 80px;
}